@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Mixins
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Contenus principal et complémentaire
 *** Architecture des CSS (liste de définitions)
 *** Pied de page
 */

/* Mixins
   ========================================================================== */
@import "../utilitaires/_mixins";

/* Normalize
   ========================================================================== */
@import "../utilitaires/_normalize.scss";

/* Utilitaires
   ========================================================================== */
@import "../utilitaires/_utilitaires.scss";

/* Charte typographique
   ========================================================================== */
@import "../utilitaires/_typo.scss";

/* Menu
   ========================================================================== */
@import "../utilitaires/_menu.scss";

/* Grille
   ========================================================================== */
@import "../utilitaires/_grille.scss";

/* Mise en page
   ========================================================================== */

/* Variables */
$couleurPrincipale:#00b289;
$couleurSecondaire:#4c4d5f;
$couleurAccent    :#f8db62;


// body {}

main,
footer,
.header__content {
   max-width: 1120px;
   margin   : 0 auto;
}

header {
   position    : sticky;
   z-index     : 100;
   top         : 0;
   padding-left: 20px;
   background  : #fff;
   width       : auto;

   div {

      display: flex;

      nav {
         display        : flex;
         padding        : 20px;
         justify-content: flex-end;

         width: 100%;

         ul {
            padding        : 0;
            list-style-type: none;

            display        : flex;
            margin-right   : 5%;
            justify-content: space-around;

            flex-grow: 1;

            li {
               a {
                  display: inline-flex;
                  height: 1em;
                  align-items: center;
                  text-decoration: none;
                  color          : $couleurSecondaire;

                  &:after {
                     content         : "";
                     background-image: url("../images/down-chevron.svg");
                     background-size : 0.75em;
                     height          : 0.75em;
                     width           : 0.75em;
                     margin-left: 0.5em;
                  }
               }
            }
         }

         div {
            display        : flex;
            justify-content: flex-end;
            flex           : 0 0 auto;
         }
      }
   }
}

#entete {
   display       : flex;
   vertical-align: bottom;
   margin        : auto;
   text-align    : center;
}

.forme-bleu {
   position: absolute;
   z-index : -1;
   top     : 0;
   right   : auto;
   bottom  : auto;
   left    : 0;
   width   : 80vw;
   height  : 50%;

   background-color: #f2faff;
   border-radius   : 6.6vw;
   transform       : rotate(-23deg);

   @media (min-width:1000px) {
      top   : -50%;
      right : -25%;
      left  : -10%;
      width : 90%;
      height: 120%;
   }
}

.bouton-principal {
   @include bouton;
   // display: inline-block;
   background-color: $couleurPrincipale;
   color           : #fff;
}

.bouton-secondaire {
   @include bouton;
   color: $couleurPrincipale;
}


.conteneur_cartes {
   display        : flex;
   flex-direction : column;
   padding        : 40px;
   justify-content: space-between;
   row-gap        : 20px;

   >div {
      background-color: #fff;
      position        : relative;
      overflow        : hidden;
      border          : .3px solid rgba(2, 4, 69, .15);
      padding         : 20px;
      display         : flex;
      flex-direction  : column;

      li {
         list-style-image: url('../images/green-tick.svg');
         padding-bottom  : 15px;
      }

      .titre-carte {
         font-size  : 2.3rem;
         font-weight: 500;
         row-gap    : 0;

         +* {
            max-width: 82%;
         }
      }
   }


   @media (min-width:975px) {
      flex-direction: row;

      >div {
         width: 32%;
      }
   }

   .populaire {
      background-color: $couleurPrincipale;
      color           : #fff;
      position        : absolute;
      right           : -100px;
      top             : 50px;
      bottom          : auto;
      width           : 360px;
      transform       : rotate(45deg);
      height          : min-content;

      text-transform: uppercase;
      text-align    : center;

      p {
         line-height: 50%;
         font-weight: bold;
      }
   }

   .bouton-principal {
      display   : block;
      margin-top: auto;
   }
}

.sous-liste:after {
   content         : " ";
   background-image: url("../images/down-chevron.svg");
   background-size : cover;
   position        : relative;
   display         : inline-block;
   top             : 0.25em;
   width           : 1em;
   height          : 1em;
}